/* app css stylesheet */

.container {
  margin-left: 5px;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
select {
  margin-bottom: 10px;
  max-width: 300px;
}
input {
  margin-bottom: 10px;
  max-width: 300px;
}
.affix {
  position: fixed;
  top: 0;
  right: 0;
}
.unit-total {
  border: 0px;
  width: 100px;
}
.header img {
  width: 100%;
}
.product-details {
  list-style: none;
  padding-left: 0;
}
.item-attribute {
  margin-right: 5px;
}
.min_products {
  background-color: transparent;
  float: left;
}
