<!doctype html>
<html lang="en" ng-app="Pmt">
<head>
  <meta charset="utf-8">
  <title>PMT product specials!</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/alertify.core.css"/>
  <link rel="stylesheet" href="css/alertify.default.css"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css"/>
</head>
<body ng-controller="PmtProductList">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 lead">
        <p>
        In addition to ordering standard It Works! green tape measures, you can now order any combination of 150 of our It Works! green tape measures (TR13, TR16 tailors tapes and our PWT-80 retractable) and we will print your web address and/or phone number for just $0.25 more per item, plus a $35 one-time plate charge.</p>

        <p>Call toll free for more information:
        
        1 800 631 1052</p>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-sm-8">
        <div class="accordion" id="accordion_products">
          <div class="accordion-group" ng-repeat="product in products">
            <div class="accordion-heading">
              <a class="accordion-toggle" ng-click="itemExpand($index)" ng-init="expanded[$index] = false" data-toggle="collapse" data-parent="#accordion_products" href="#collapse{{$index}}" class="row">
<!--                 <img src="{{product.field_photo[0].filepath_thumb}}" class="img-thumbnail img-responsive col-sm-1" />
 -->                <h4>
                   {{product.title}} - {{product.sell_price | currency}}/unit <i ng-show="expanded[$index]" class="icon-minus-sign"></i> <i ng-hide="expanded[$index]" class="icon-plus-sign"></i>
                </h4>
              </a>
            </div>
            <div class="accordion-body collapse" id="collapse{{$index}}">
              <div class="accordion-inner">
                <div>
                  <img src="{{product.field_photo[0].filepath_normal}}" class="img-thumbnail img-responsive" />
                </div>
                <div ng-bind-html-unsafe="product.field_description[0].value"></div>
                <form ng-submit="addCart({{product.nid}}, {{quantity}}, '{{product.title | escapestring}}', '{{product.sell_price}}')" class="form-inline">     
                  <div ng-repeat="attribute in product.attributes">
                    <select class="form-control" ng-options="p.name+' (+$'+p.price+')' for p in attribute.options" name="attribute-{{attribute.aid}}" ng-model="attributes[$index]">
                      <option value="">--{{attribute.name}}--</option>
                    </select>
<!--
              <div ng-show="hideSelect(attribute.aid)" ng-repeat="opt in attribute.options">
                <select class="form-control" ng-show="hideOption(opt.oid)"><option>{{opt.name}} +{{opt.price | currency}}</option></select>
              </div>
-->
                  </div>
                  <input class="form-control" type="number" min="0" step="10" ng-model="quantity" placeholder="Enter Quantity"><br />
                  <div class="alert alert-danger" ng-hide="multipleOften(quantity)">
                    Quantity must be a multiple of 10. 
                  </div>
                  <input type="submit" class="btn btn-default" value="Add to cart">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-4" id="cart">
        <h2 style="margin-top:0">CART</h2>
        <div class="panel" ng-repeat="items in cart">
          <div class="panel-heading">{{items.title}}</div>
          <ul class="product-details">
            <li><strong>Price:</strong> ${{items.adjusted_price}}
            <li><strong>Attributes:</strong> <br />
              <div class="label item-attribute" ng-repeat="att in items.attributes">
                {{att.name}}
              </div>
            </li>
            <li><strong>Quantity:</strong> {{items.quantity}}</li>
          </ul>
          <div class="panel-footer">
            <form ng-submit="removeItem({{$index}}, {{items.quantity}})">
              <button type="submit" class="btn btn-danger">
                Remove
              </button>
            </form>
          </div>
        </div>
        <h4>Total Units: <input ng-model="units" class="unit-total" readonly /></h4>
        <h4>Total Price: $<input ng-model="dollars" class="unit-total" readonly /></h4>
        <div ng-hide="validCheckout()" class="alert alert-danger">
          Minimum order for standard tapes is $15, and the minimum quantity for custom printed tapes for It Works! distributors is <span>{{min_products}}</span> in any combination.
        </div>
        <div ng-show="validCheckout()">
          <form ng-submit="proceedCheckout()">
            <button ng-show="validCheckout()" type="submit" class="btn btn-primary">
              Checkout
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/alertify.js"></script>
</body>
</html>
