<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>PMT product specials!</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="PmtProductList">

  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 header">
        <img src="img/banner-new.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-6">
        <div ng-repeat="product in products">
          <h2>
            {{product.title}} - {{product.sell_price | currency}}/unit
          </h2>
          <div><img src="http://dev.perfectmeasuringtape.com/{{product.field_photo[0].filepath}}" class="img-thumbnail" style="max-width: 300px; float: left; margin-right: 20px;" /></div>
          <div ng-bind-html-unsafe="product.field_description[0].value"></div>
          <form ng-submit="addCart({{product.nid}}, {{quantity}}, '{{product.title}}', {{product.sell_price}})" class="form-inline">     
            <div ng-repeat="attribute in product.attributes">
              <select class="form-control" ng-options="p.name+' (+$'+p.price+')' for p in attribute.options" name="attribute-{{attribute.aid}}" ng-model="attributes[$index]">
                <option value="" style="display:none;">--{{attribute.name}}--</option>
              </select>
            </div>
            <input class="form-control" type="number" min="0" ng-model="quantity" placeholder="Enter Quantity"><br />
            <input type="submit" class="btn btn-default">
          </form>
        </div>
      </div>

      <div class="col-lg-4" id="cart">
        <h1>IN YOUR CART</h1>
        <div class="panel" ng-repeat="items in cart">
          <div class="panel-heading">{{items.title}}</div>
          <ul class="product-details">
            <li><strong>Price:</strong> ${{items.adjusted_price}}
            <li><strong>Attributes:</strong> <br />
              <span class="label item-attribute" ng-repeat="att in items.attributes">
                {{att.name}}
              </span> 
            </li>
            <li><strong>Quantity:</strong> {{items.quantity}}</li>
          </ul>
          <div class="panel-footer">
            <form ng-submit="removeItem({{$index}}, {{items.quantity}})">
              <button type="submit" class="btn btn-danger">
                Remove
              </button>
            </form>
          </div>
        </div>
        <div ng-hide="validCheckout()" class="alert alert-danger">
          <strong>Warning!</strong> Minimum order is <span>{{min_products}}</span> units.
        </div>
        <h4>Total Units: <input ng-model="units" class="unit-total" readonly /></h4>
        <h4>Total Price: $<input ng-model="dollars" class="unit-total" readonly /></h4>
        <div ng-show="validCheckout()">
          <form ng-submit="proceedCheckout()">
            <button ng-show="validCheckout()" type="submit" class="btn btn-primary">
              Checkout
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
