<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>PMT product specials!</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="PmtProductList">

  <div>
    <ul>
      <li ng-repeat="product in products">
        <h2>
          {{product.title}}
        </h2>
        <div><img src="http://dev.perfectmeasuringtape.com/{{product.field_photo[0].filepath}}" style="max-width:300px; float:left; padding-right: 20px;" /></div>
        <div ng-bind-html-unsafe="product.field_description[0].value"></div>
        
        <form ng-submit="addCart({{product.nid}})">
          <div ng-repeat="attribute in product.attributes">
            <select ng-model="attributes[$index]">
              <option>--{{attribute.name}}--</option>
              <option value="{{option.name}}" ng-repeat="option in attribute.options">
                {{option.name}}
              </option>
            </select>
          </div>
          <input type="text" ng-model="purchase.quantity">
          <input type="submit">
        </form>
      </li>
    </ul>
  </div>
  
  <div>
    <h1>IN YOUR CART</h1>
    <ul>
      <li ng-repeat="items in cart">
        Node ID: {{items.nid}} Attributes: {{items.attributes}}
      </li>
    </ul>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
